@model Employee

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Personel Bilgileri</h1>
<hr />
<h3>Personeli silmek istiyor musunuz ?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gorev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gorev)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Durumu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Durumu)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>